<!--<form role="form">-->
<!--    <div class="form-group">-->
<!--      <label for="noidung">Muon dang gi:</label>-->
<!--      <input type="noidung" class="form-control" id="noidung" placeholder="Viet vao day nay">-->
<!--    </div>-->
<!--    <button type="submit" class="btn btn-default">Dang</button>-->
<!--</form>-->
<%= link_to "Add a article", new_article_path, class: "btn btn-success" %> 
<hr>
<% @articles.each do |article| %>
  <div>
    <h2><%= article.title %></h2>
    <p>
      <%= link_to "Edit", edit_article_path(article), class:"text-muted action-link" %>
      <%= link_to "Delete", article_path(article), method: :delete, data: { confirm: 'Are you sure?' }, class:"text-muted action-link" %>
      <span class="pull-right text-muted">
        <%= article.created_at.strftime("%B - %d - %Y") %>, posted by <a href="#">Orion141</a>
      </span>
    </p>
    <p><%= article.content.first(1000) %></p>
    <%= link_to "Read more ...", article_path(article) %></br>
    <%= social_share_button_tag(article.title, url: article_url(article), :popup => "true") %>
  </div>
<% end %>

